@import url("https://fonts.googleapis.com/css2?family=Alex+Brush&family=Montserrat:wght@100;200;300;400;500;600;700;800;900&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  font-family: 'Montserrat', sans-serif;
  line-height: 1;
  font-weight: 400;
}
